.item {
    position: relative;
    margin-bottom: 20px;
}

@media (max-width: 660px) {
    .item {
        width: 100%;
        float: left;
        margin-right: 0;
    }
}

@media (min-width: 660px) and (max-width: 990px) {
    .item {
        width: 48.3%;
        float: left;
        margin-right: 10px;
    }
}

@media (min-width: 990px) {
    .item {
        width: 32.2%;
        float: left;
        margin-right: 10px;
    }
}

.item .title {
    width: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 12px;
}

.text {
    color: white;
    font-size: 20px;
    position: relative;
    text-align: left;
}

.item .v-thumbnail {
    width: 100%;
    height: auto;
}

.navbar-toggle {
    border-radius: 0 !important;
}